Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting:true
Xft.hintstyle: hintfull

#define base00 #2d2d2d
#define base01 #393939
#define base02 #515151
#define base03 #747369
#define base04 #a09f93
#define base05 #d3d0c8
#define base06 #e8e6df
#define base07 #f2f0ec
#define base08 #f2777a
#define base09 #f99157
#define base0A #ffcc66
#define base0B #99cc99
#define base0C #66cccc
#define base0D #6699cc
#define base0E #cc99cc
#define base0F #d27b53

URxvt.font: xft:Source Code Pro:pixelsize=11
URxvt.letterSpace: -2
URxvt.scrollBar: false
URxvt.cursorUnderline: true
URxvt.cursorBlink: true
URxvt.depth: 32
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: firefox-nightly
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5

URxvt.foreground: base05
URxvt.background: base00
URxvt.cursorColor: base05

URxvt.color0:  base00
URxvt.color1:  base08
URxvt.color2:  base0B
URxvt.color3:  base0A
URxvt.color4:  base0D
URxvt.color5:  base0E
URxvt.color6:  base0C
URxvt.color7:  base05

URxvt.color8:  base03
URxvt.color9:  base08
URxvt.color10: base0B
URxvt.color11: base0A
URxvt.color12: base0D
URxvt.color13: base0E
URxvt.color14: base0C
URxvt.color15: base07

URxvt.color16: base09
URxvt.color17: base0F
URxvt.color18: base01
URxvt.color19: base02
URxvt.color20: base04
URxvt.color21: base06

rofi.color-enabled: true
rofi.color-window: #2d2d2d, #2d2d2d, #323537
rofi.color-normal: #2d2d2d, #515151, #2d2d2d, #323537, #515151
rofi.modi: run
rofi.color-window
rofi.opacity: 75
rofi.bc: "#2d2d2d"
rofi.location: 0
rofi.lines: 6
rofi.bw: 0
rofi.font: Source Code Pro 13
rofi.padding: 300
rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.fullscreen: true
